env/
CGRAGenerator/
cgra_pnr/
TestBenchGenerator/

# code to generate inputs/outputs
src

# pnr files
*.n2v
*.packed
*.place
*.route
*.bsb
*.bsa
*.bsb.json
*.smax
*.mux
*.json
*.emb

# kernel vis files
*.png
*.pdf
